@page "/fetchdata"
@using DACDemo.Shared
@inject HttpClient Http

<h1>DefaultAzureCredential Demo</h1>

<button @onclick="Create">Create New Blob</button>
<button @onclick="Load">Refresh</button>
<button @onclick="Clear">Clear</button>

@if (blobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Blob Name</th>
                <th>Uploaded By</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in blobs.OrderByDescending(b => b.LastModified))
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.UploadedBy</td>
                    <td>@forecast.LastModified.ToLocalTime().ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<BlobDetails> blobs;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }
    private async Task Clear()
    {
        await Http.GetAsync("Blobs/ClearBlobs");
        await Load();
    }


    private async Task Create()
    {
        await Http.GetAsync("Blobs/CreateBlob");
        await Load();
    }

    private async Task Load()
    {
        blobs = await Http.GetFromJsonAsync<List<BlobDetails>>("Blobs/ListBlobs");
    }

}
